<div class="jumbotron">
    <h1>API homework for Kaspi.kz</h1>
    <p class="lead">Данное приложение парсит новостной сайт Kapital.kz и сохраняет данные(тема, текст, дата) в локальной БД, а так же выполняет следующие функции:</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Фильтр по дате</h2>
        <i>/api/posts?from=&to</i>
        <p>Возвращает список новостей с фильтром по дате и времени from - to</p>
        <p><a class="btn btn-default" href="http://localhost:64528/api/posts?from=2020-07-01T00:00:00Z&to=2022-07-07T00:00:00Z">Тест &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Топ 10 слов</h2>
        <i>/api/topten</i>
        <p>Возвращает топ 10 самых часто используемых слов в новостях(тексте новости)</p>
        <p><a class="btn btn-default" href="http://localhost:64528/api/topten">Тест &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Поиск</h2>
        <i>/api/search?text=asd</i>
        <p>Возвращает новости, в которых встречается текст</p>
        <p><a class="btn btn-default" href="http://localhost:64528/api/search?text=Казахстан">Тест &raquo;</a></p>
    </div>
</div>
